*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background: steelblue;
  overflow: hidden;
}

.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
